html,
body {
  padding: 0;
  margin: 0;
  background-color: #1e1f21;
  color: white;
  white-space: nowrap;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

table {
  width: 90%;
  margin: 0px 10px 0px 10px;
  border-collapse: collapse;
  text-align: center;
}
tbody tr {
  border: 1px solid #444444;
}
